.product-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:50px;
  max-width:1200px;
  margin:auto;
  padding:120px 40px;
}

.product-card{
  text-align:center;
  cursor:pointer;
}

.product-card img{
  width:100%;
  transition:0.4s;
}

.product-card:hover img{
  transform:scale(1.05);
}

.product-card h3{
  font-size:14px;
  letter-spacing:2px;
  text-transform:uppercase;
  margin-top:20px;
}

.price{
  margin-top:10px;
  font-weight:600;
}

.old-price{
  color:#999;
  text-decoration:line-through;
  margin-left:10px;
}

@media(max-width:900px){
  .product-grid{
    grid-template-columns:1fr;
    padding:80px 20px;
  }
}